.App{
    text-align: center;
    width: 100vw;
    height: 100vh;
    background: blanchedalmond;
}

body{
    margin: 0;
    padding: 0;
}

.Sidebar{
    height: 100%;
    width: 10%;
    background-color: #2F4050;
}

.SidebarList{
    height: auto;
    padding: 0;
    width: 100%;
}

.SidebarList .Row {
    height: 60px;
    width: 100%;
    list-style-type: none;
    margin: 0;
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: center;
    align-items: center;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Sans", Arial, SansSerif;
}

.SidebarList .Row:hover{
    cursor: pointer;
    background-color: #293846;
}
.Row #icon{
    flex: 30%;
    display: grid;
    place-items: center;
}

.Row #title{
    flex: 70%;
    text-align: left;
}
.SidebarList .row #active{
    background-color: white;
}